section.aboutme#aboutme
    .aboutme_wrap
        .container
            .img
            .introduce
                h2 안녕하세요. <br>최고의  개발자를 꿈꾸는 신입 프론트엔드 개발자 전영진 입니다.
                p 프론트엔드 개발은 끊임없이 진화하는 분야라고 생각합니다.<br>변화하는 최신 동향과 기술을 주시하며,<br>항상 새로운 것을 배우고 습득하는 것에 즐거움을 느낍니다. <br>저는 이를 통해 자신의 기술을 향상시키고 더 나은 사용자 경험을 제공하는 개발자가 되기 위해 노력하고 있습니다.<br>기술의 발전을 선도하며 새로운 도전에 대한 열린 마음을 가지고,<br>지속적인 학습과 개선을 통해 프론트엔드 개발의 선두주자가 되겠습니다.
                .hashtag
                    .tag
                        i.fa.fa-tag(aria-hidden="true")
                        span 인내심
                    .tag
                        i.fa.fa-tag(aria-hidden="true")
                        span 열정
                    .tag
                        i.fa.fa-tag(aria-hidden="true")
                        span 노력
                    .tag
                        i.fa.fa-tag(aria-hidden="true")
                        span ISFP
    .background