section.contact#contact
    .contact_wrap
        h1 CONTACT
        .contents
            .my_picture
            .link_box
                a(href="tel:01038918461")
                    span.img.s1
                    span.detail 010-3891-8461
                a(href="mailto:jeonjyj@naver.com")
                    span.img.s2
                    span.detail jeonjyj@naver.com
                a(href="https://open.kakao.com/o/srRMHJsg")
                    span.img.s3
                    span.detail KakaoTalk