.ham_wrap
    .ham_toggle#ham_toggle
        .span_wrap#span_wrap
            span
            span
            span
.menu_wrap#menu_wrap
    .menu
        ul.link_list
            li
                a(href="#home") HOME
            li
                a(href="#aboutme") ABOUT ME
            li
                a(href="#skills") SKILLS
            li
                a(href="#portfolio") PORTFOLIO
            li
                a(href="#contact") CONTACT