section.home#home
    .home_wrap
        h1#title
            span Y
            span O
            span U
            span N
            span G
            span J
            span I
            span N
            span ’ 
            span s
            span &nbspB
            span L
            span O
            span G
        .mouse