section.portfolio#portfolio
    .portfolio_wrap
        h1 PORTFOLIO
        .container
            .pf_first
                p 개인 프로젝트
                .pf1.pf
                    .pf-background
                    h2 행렬계산기
                .pf2.pf
                    .pf-background
                    h2 메모장
                .pf3.pf
                    .pf-background
                    h2 버그킹 키오스크
            .pf_second
                p 팀 프로젝트
                .pf4.pf
                    .pf-background
                    h2 안산시 도시환경 대시보드
            .p_explanation_wrap
                button#close.fa.fa-times(aria-hidden="true")
                .contents_wrap
    .background