section.portfolio#portfolio
    .portfolio_wrap
        h1 PORTFOLIO
        .container
            .pf1.pf
                .pf-background
                h2 행렬계산기
            .pf2.pf
                .pf-background
                h2 메모장
            .pf3.pf
                .pf-background
                h2 안산시 도시환경 대시보드
            .p_explanation_wrap
                button#close.fa.fa-times(aria-hidden="true")
                .contents_wrap
    .background